In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/content/LoanApprovalPrediction.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [5]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [7]:
id=df['Loan_ID'].value_counts
id

<bound method IndexOpsMixin.value_counts of 0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object>

In [8]:
gen=df['Gender'].value_counts()
gen

Male      489
Female    112
Name: Gender, dtype: int64

In [9]:
mar=df['Married'].value_counts()
mar

Yes    398
No     213
Name: Married, dtype: int64

In [10]:
dep=df['Dependents'].value_counts()
dep

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [11]:
edu=df['Education'].value_counts()
edu

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [12]:
sel=df['Self_Employed'].value_counts()
sel

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [13]:
sns.countplot('Property_Area',data=df)

TypeError: ignored

In [14]:
sns.countplot('Loan_Status',data=df)

TypeError: ignored

In [15]:
sns.countplot('Loan_Status',data=df)

TypeError: ignored

In [16]:
dummy=pd.get_dummies(df[['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status','Loan_Status']],drop_first=True)
dummy

,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,Loan_ID_LP001013,Loan_ID_LP001014,Loan_ID_LP001018,Loan_ID_LP001020,Loan_ID_LP001024,...,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y,Loan_Status_Y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,1,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,1,1
3,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,1,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
610,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
611,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,1
612,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,1,1
613,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [17]:
dfe=pd.concat([df,dummy],axis=1)
dfe

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y,Loan_Status_Y
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,...,0,0,0,0,0,0,0,1,1,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,...,1,1,0,0,0,0,0,0,0,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,...,1,0,0,0,0,1,0,1,1,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,...,1,0,0,0,1,0,0,1,1,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,...,0,0,0,0,0,0,0,0,1,1
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,...,1,0,0,1,0,0,0,0,1,1
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,...,1,1,0,0,0,0,0,1,1,1
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,...,1,0,1,0,0,0,0,1,1,1
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,...,0,0,0,0,0,1,1,0,0,0

In [18]:
df1=dfe.drop(['Gender','Married','Education','Dependents','Self_Employed','LoanAmount','Property_Area','Loan_Status'],axis=1)
df1

,Loan_ID,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y,Loan_Status_Y
0,LP001002,5849,0.0,360.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,LP001003,4583,1508.0,360.0,1.0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
2,LP001005,3000,0.0,360.0,1.0,0,1,0,0,0,...,1,0,0,0,0,1,0,1,1,1
3,LP001006,2583,2358.0,360.0,1.0,0,0,1,0,0,...,1,0,0,0,1,0,0,1,1,1
4,LP001008,6000,0.0,360.0,1.0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,2900,0.0,360.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
610,LP002979,4106,0.0,180.0,1.0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
611,LP002983,8072,240.0,360.0,1.0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,1
612,LP002984,7583,0.0,360.0,1.0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,1,1
613,LP002990,4583,0.0,360.0,0.0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [19]:
df1['Loan_ID']=df1['Loan_ID'].str.replace('LP','')
df1

,Loan_ID,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y,Loan_Status_Y
0,001002,5849,0.0,360.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,001003,4583,1508.0,360.0,1.0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
2,001005,3000,0.0,360.0,1.0,0,1,0,0,0,...,1,0,0,0,0,1,0,1,1,1
3,001006,2583,2358.0,360.0,1.0,0,0,1,0,0,...,1,0,0,0,1,0,0,1,1,1
4,001008,6000,0.0,360.0,1.0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,002978,2900,0.0,360.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
610,002979,4106,0.0,180.0,1.0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
611,002983,8072,240.0,360.0,1.0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,1
612,002984,7583,0.0,360.0,1.0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,1,1
613,002990,4583,0.0,360.0,0.0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [20]:
df1.dtypes

Loan_ID                     object
ApplicantIncome              int64
CoapplicantIncome          float64
Loan_Amount_Term           float64
Credit_History             float64
                            ...
Self_Employed_Yes            uint8
Property_Area_Semiurban      uint8
Property_Area_Urban          uint8
Loan_Status_Y                uint8
Loan_Status_Y                uint8
Length: 629, dtype: object

In [21]:
df1['Loan_ID']=df1['Loan_ID'].astype(float)

In [22]:
df1.dtypes

Loan_ID                    float64
ApplicantIncome              int64
CoapplicantIncome          float64
Loan_Amount_Term           float64
Credit_History             float64
                            ...
Self_Employed_Yes            uint8
Property_Area_Semiurban      uint8
Property_Area_Urban          uint8
Loan_Status_Y                uint8
Loan_Status_Y                uint8
Length: 629, dtype: object

In [23]:
df1.isna().sum()

Loan_ID                     0
ApplicantIncome             0
CoapplicantIncome           0
Loan_Amount_Term           14
Credit_History             50
                           ..
Self_Employed_Yes           0
Property_Area_Semiurban     0
Property_Area_Urban         0
Loan_Status_Y               0
Loan_Status_Y               0
Length: 629, dtype: int64

In [24]:
df1['Loan_Amount_Term']=df1['Loan_Amount_Term'].fillna(df1['Loan_Amount_Term'].mean())

In [25]:
df1['Credit_History']=df1['Credit_History'].fillna(df1['Credit_History'].mean())

In [26]:
df1.isna().sum()

Loan_ID                    0
ApplicantIncome            0
CoapplicantIncome          0
Loan_Amount_Term           0
Credit_History             0
                          ..
Self_Employed_Yes          0
Property_Area_Semiurban    0
Property_Area_Urban        0
Loan_Status_Y              0
Loan_Status_Y              0
Length: 629, dtype: int64

In [27]:
#To seperate x
x=df1.drop(['Loan_Status_Y'],axis=1)
x

,Loan_ID,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Loan_ID_LP002990,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,1002.0,5849,0.0,360.0,1.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,1003.0,4583,1508.0,360.0,1.0,1,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
2,1005.0,3000,0.0,360.0,1.0,0,1,0,0,0,...,0,1,1,0,0,0,0,1,0,1
3,1006.0,2583,2358.0,360.0,1.0,0,0,1,0,0,...,0,1,1,0,0,0,1,0,0,1
4,1008.0,6000,0.0,360.0,1.0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,2978.0,2900,0.0,360.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
610,2979.0,4106,0.0,180.0,1.0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
611,2983.0,8072,240.0,360.0,1.0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,1
612,2984.0,7583,0.0,360.0,1.0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1
613,2990.0,4583,0.0,360.0,0.0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0

In [28]:
y=df1['Loan_Status_Y']
y

     Loan_Status_Y  Loan_Status_Y
0                1              1
1                0              0
2                1              1
3                1              1
4                1              1
..             ...            ...
609              1              1
610              1              1
611              1              1
612              1              1
613              0              0

[614 rows x 2 columns]

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
x_train

,Loan_ID,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Loan_ID_LP002990,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
553,2788.0,2454,2333.0,360.0,0.0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,1
601,2950.0,2894,2792.0,360.0,1.0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0
261,1868.0,2060,2209.0,360.0,1.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
496,2587.0,2600,1700.0,360.0,1.0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0
529,2716.0,6783,0.0,360.0,1.0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1245.0,1875,1875.0,360.0,1.0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,1,0
106,1369.0,11417,1126.0,360.0,1.0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1
270,1888.0,3237,0.0,360.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
435,2393.0,10047,0.0,240.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
102,1350.0,13650,0.0,360.0,1.0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1

In [30]:
x_test

,Loan_ID,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Loan_ID_LP002990,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
350,2139.0,9083,0.0,360.0,1.000000,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
377,2223.0,4310,0.0,360.0,0.842199,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
163,1570.0,4167,1447.0,360.0,1.000000,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,0
609,2978.0,2900,0.0,360.0,1.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
132,1478.0,2718,0.0,360.0,1.000000,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,2226.0,3333,2500.0,360.0,1.000000,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
446,2434.0,4652,0.0,360.0,1.000000,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,0
144,1508.0,11757,0.0,180.0,1.000000,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1
290,1936.0,3075,2416.0,360.0,1.000000,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
353,2142.0,5500,0.0,360.0,0.000000,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [31]:
y_train

     Loan_Status_Y  Loan_Status_Y
553              0              0
601              1              1
261              1              1
496              1              1
529              1              1
..             ...            ...
71               1              1
106              1              1
270              1              1
435              1              1
102              1              1

[429 rows x 2 columns]

In [32]:
y_test

     Loan_Status_Y  Loan_Status_Y
350              1              1
377              1              1
163              1              1
609              1              1
132              1              1
..             ...            ...
380              1              1
446              1              1
144              1              1
290              1              1
353              0              0

[185 rows x 2 columns]

In [33]:
#Normalization
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)
x_train

array([[0.8983392 , 0.02849722, 0.06894819, ..., 0.        , 0.        ,
        1.        ],
       [0.97986915, 0.03393939, 0.08251323, ..., 0.        , 0.        ,
        0.        ],
       [0.43532964, 0.023624  , 0.06528357, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.44539507, 0.03818182, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.69954706, 0.12241187, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.17463513, 0.16697588, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [37]:
#Model creation
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
y_pred

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0]], dtype=uint8)

In [38]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.7135135135135136